/*General*/
html {
  font-size: 10px;
  font-family: "libertinus serif", serif;
  background-image: url('images/old_paper.jpg');
}

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

main {
  width: 80dvw;
  margin: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin:0;
  padding: 20px 0;
  color: rgb(255, 195, 122);
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 45px;
  text-align: center;
  margin:0;
  padding: 20px 0;
  color: rgb(255, 195, 122);
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 80dvh;
}


nav{
  width: 100%;
  margin: auto;
  background-color:rgb(255, 195, 122);
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: auto;
  /*isso deixa o navbar colado no teto :D*/
  /*Removing the list dots, overflow hides content that exceed max width, and manages font and background color*/
}

/*Spacing and how the itens from the list should be placed*/

.nav-itens {
  float: left;
  margin-left: 8%;
}

/*When idle, stay like this*/
.nav-itens a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}

/*When mouse is on top, becomes this*/
.nav-itens a:hover {
  background-color: yellowgreen;
  color: aliceblue;
  border-radius: 0%;
}

/*Faction Page*/
#tip {
  background-color: rgb(255, 195, 122);
}

/*Table*/
table, th, td {
  border: 1px solid black;
}